<link rel="import" href="../../../bower_components/polymer/polymer.html">

<link rel="import" href="../../../bower_components/express-web-components/express-app.html">
<link rel="import" href="../../../bower_components/express-web-components/express-middleware.html">
<link rel="import" href="../../../bower_components/express-web-components/express-router.html">

<dom-module id="example-animals">
    <template>
        <express-middleware method="get" path="/monkey" callback="[[monkey]]"></express-middleware>
        <express-middleware method="get" path="/lion" callback="[[lion]]"></express-middleware>
        <express-middleware method="get" path="/tiger" callback="[[tiger]]"></express-middleware>
    </template>

    <script src="animals.component.ts"></script>
</dom-module>
